
{% extends 'base.html' %}
{% block title  %}
  energy
{% endblock title  %}
{% load static %}
{% block content %}
<style>

</style>

<div class="container">
    <a href="{% url 'projects' %}" class="btn btn-primary">Go Back</a>
    </div>
<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col-md-8">
            <img src="{% static '/images/project-5.jpg' %}">
        </div>
        <div class="col-md-4">
            <h3>Energy Engineering</h3>
            <div style="margin-top: 80px;">
            <p><b>Description: </b>zdfb</p>
            <p><b>Owner: </b>fd</p>
            <p><b>Location: </b>d</p>
            <p><b>Duration: </b>7</p>
            <p><b>Status: </b>completed</p>
        </div>
        </div>
    </div>
</div>
<br>
<br>
    {% endblock  %}