{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title  %}
  change password
{% endblock title  %}


{% block content %}

<div class="container w-50 p-3 my-20 border rounded mb-4" style="background-color:rgb(213, 213, 213);">
    <form action="" method="POST" autocomplete="off" class="fw-semibold">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom border-primary mb-4 text-primary fw-bold text-center">Password Reset confirm</legend>
        <p>please enter your new password.</p>
          {{form.new_password1|as_crispy_field}}
          {{form.new_password2|as_crispy_field}}
      </fieldset>
              <div class="form-group" id="password-change">
                  <button type="submit" class="btn btn-primary btn-lg col-md-4">Change Password</button>
              </div>
    </form>
</div>
  <br>
  <br>
{% endblock content %}